.jumbotron {
  text-align: center;
  border-bottom: 5px solid black;
}

.timeBlock {
  border-top: 1px dashed black;
  border-bottom: 1px dashed black;
  padding-top: 10px;
  text-align: right;
  font-size: 18px;
  height: 95px;
}

.textBlock {
  border: 1px solid black;
  height: 95px;
}

.saveBlock {
  border: 1px solid black;
  text-align:center;
  padding-top: 25px;
  height: 95px;
}

.past {
  background-color: gray;
}

.present {
  background-color: red;
}

.future {
  background-color: lightgreen;
}